<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="container">
    <input type="checkbox" id="flip">
    <div class="cover">
      <div class="front">
        <img src="https://www.hindidunia.com/wp-content/uploads/2021/02/Ayushman-Bharat-Yojana-hindidunia-622x350.jpg" alt="">
        <div class="text">
          <span class="text-1">Ayushman Bharat<br> A holistic solution for a healthy India</span>
          <span class="text-2">Let's get connected</span>
        </div>
      </div>
      <div class="back">
        <img class="backImg" src="https://images.news18.com/ibnkhabar/uploads/2019/11/Ayushman-Bharat-Yojana.jpg?im=FitAndFill,width=1200,height=900" alt="">
        <div class="text">
          <span class="text-1">Complete miles of journey <br> with one step</span>
          <span class="text-2">Let's get started</span>
        </div>
      </div>
    </div>
    <div class="forms">
        <div class="form-content">
          <div class="login-form">
            <div class="title">Eligibility</div>
          <form action="#">
            <div class="input-boxes">
              <div class="button input-box">
                <input type="submit" value="Am I Eligible">
              </div>
              <div class="text sign-up-text">Don't have an account? <label for="flip">Sigup now</label></div>
            </div>
        </form>
      </div>
        <div class="signup-form">
          <div class="title">Registration</div>
        <form action="/" method="POST">
            <div class="input-boxes">
              <div class="input-box">
                <i class="fas fa-user"></i>
                <input type="text" placeholder="Enter your name" name="name">
              </div>
              <div class="input-box">
                <i class="fas fa-envelope"></i>
                <input type="text" placeholder="Enter your email" name="email">
              </div>
              <div class="input-box">
                <i class="fas fa-envelope"></i>
                <input type="text" placeholder="Enter your address" name="address">
              </div>
               <div class="input-box">
                <i class="fas fa-phone"></i>
                <input type="password" placeholder="Enter your phone number" name="phone">
              </div>
               <div class="input-box">
                <i class="fas fa-map-marker"></i>
                <input type="password" placeholder="Enter your state" name="state">
              </div>
               <div class="input-box">
                <i class="fas fa-credit-card"></i>
                <input type="password" placeholder="Enter your ration number" name="ration">
              </div>
              <div class="button input-box">
                <input type="submit" value="Submit">
              </div>
            </div>
      </form>
    </div>
    </div>
    </div>
  </div>
</body>
</html>
